lab01- Projeto Conversão de Dólar- Azure Data Factory/api_injestao_anabelle/api_injestao_anabelle.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Nome do Data Factory"},"azure_anabelle_souza":{"type":"string"},"HttpServer51":{"type":"string"},"AzureSqlDatabase126":{"type":"string"},"AzureBlobStorage126":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/api_injestao_anabelle')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"api_banco","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","writeBehavior":"insert","sqlWriterUseTableLock":false},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"cotacaoCompra","type":"String","physicalType":"String"},"sink":{"name":"cotacaoCompra","type":"String","physicalType":"varchar"}},{"source":{"name":"cotacaoVenda","type":"String","physicalType":"String"},"sink":{"name":"cotacaoVenda","type":"String","physicalType":"varchar"}},{"source":{"name":"dataHoraCotacao","type":"String","physicalType":"String"},"sink":{"name":"dataHoraCotacao","type":"String","physicalType":"varchar"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DelimitedText103","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"AzureSqlTable197","type":"DatasetReference","parameters":{}}]},{"name":"Procedure","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"api_banco","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dolar_anabelle_souza].[procedure_lab1]"},"linkedServiceName":{"referenceName":"[parameters('azure_anabelle_souza')]","type":"LinkedServiceReference"}},{"name":"transferir_blob","type":"Copy","dependsOn":[{"activity":"Procedure","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"cotacaoCompra","type":"Double","physicalType":"float"},"sink":{"name":"cotacaoCompra","type":"Double","physicalType":"DOUBLE"}},{"source":{"name":"cotacaoVenda","type":"Double","physicalType":"float"},"sink":{"name":"cotacaoVenda","type":"Double","physicalType":"DOUBLE"}},{"source":{"name":"dataHoraCotacao","type":"DateTime","physicalType":"datetime"},"sink":{"name":"dataHoraCotacao","type":"DateTime","physicalType":"INT_96"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlTable198","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Parquet78","type":"DatasetReference","parameters":{}}]}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"folder":{"name":"anabelle_souza/LAB1"},"annotations":[],"lastPublishTime":"2022-08-05T20:37:05Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DelimitedText103')]","[concat(variables('factoryId'), '/datasets/AzureSqlTable197')]","[concat(variables('factoryId'), '/datasets/AzureSqlTable198')]","[concat(variables('factoryId'), '/datasets/Parquet78')]"]},{"name":"[concat(parameters('factoryName'), '/DelimitedText103')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('HttpServer51')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":"CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial='01-01-2019'&@dataFinalCotacao='12-31-2025'&$top=9000&$format=text/csv&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable197')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('azure_anabelle_souza')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"cotacaoCompra","type":"varchar"},{"name":"cotacaoVenda","type":"varchar"},{"name":"dataHoraCotacao","type":"varchar"}],"typeProperties":{"schema":"dolar_anabelle_souza","table":"dolar_stage_anabelle"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable198')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase126')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"cotacaoCompra","type":"float","precision":15},{"name":"cotacaoVenda","type":"float","precision":15},{"name":"dataHoraCotacao","type":"datetime","precision":23,"scale":3}],"typeProperties":{"schema":"dolar_anabelle_souza","table":"dolar_final_anabelle"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet78')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage126')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","folderPath":"lab01","container":"anabellesouza"},"compressionCodec":"none"},"schema":[]},"dependsOn":[]}]}