lab02-Projeto Conversão de Dólar - Azure Data Factory com DataBricks/api_injestao_anabelle_lab2/api_injestao_anabelle_lab2.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Nome do Data Factory"},"anabelle_lab02":{"type":"string"},"azure_anabelle_souza":{"type":"string"},"AzureSqlDatabase126":{"type":"string"},"AzureBlobStorage126":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/api_injestao_anabelle_lab2')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Notebook1- Lab02","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/anabelle.souza@blueshift.com.br/anabelle_souza_lab2"},"linkedServiceName":{"referenceName":"[parameters('anabelle_lab02')]","type":"LinkedServiceReference"}},{"name":"Procedure","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Notebook1- Lab02","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dolar_anabelle_souza_lab2].[procedure_lab2]"},"linkedServiceName":{"referenceName":"[parameters('azure_anabelle_souza')]","type":"LinkedServiceReference"}},{"name":"Blob","type":"Copy","dependsOn":[{"activity":"Procedure","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"cotacaoCompra","type":"String","physicalType":"varchar"},"sink":{"name":"cotacaoCompra","type":"String","physicalType":"UTF8"}},{"source":{"name":"cotacaoVenda","type":"String","physicalType":"varchar"},"sink":{"name":"cotacaoVenda","type":"String","physicalType":"UTF8"}},{"source":{"name":"dataHoraCotacao","type":"String","physicalType":"varchar"},"sink":{"name":"dataHoraCotacao","type":"String","physicalType":"UTF8"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlTable205","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Parquet80","type":"DatasetReference","parameters":{}}]}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"folder":{"name":"anabelle_souza/LAB2"},"annotations":[],"lastPublishTime":"2022-08-03T21:26:33Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/AzureSqlTable205')]","[concat(variables('factoryId'), '/datasets/Parquet80')]"]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable205')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase126')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"cotacaoCompra","type":"varchar"},{"name":"cotacaoVenda","type":"varchar"},{"name":"dataHoraCotacao","type":"varchar"}],"typeProperties":{"schema":"dolar_anabelle_souza_lab2","table":"dolar_final_anabelle_lab2"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet80')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage126')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","folderPath":"lab02","container":"anabellesouza"},"compressionCodec":"none"},"schema":[]},"dependsOn":[]}]}